DATABASE_URL="postgresql://postgres.rajxgulcgxjxzxjgbpzo:Kailsam123House123@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="39cebbc1d9d6201b52e47335f2cc1a83684da8f407545348bd75dccede2b8e1f"
PORT=4000
CORS_ORIGIN="http://127.0.0.1:5500"
